<div class="content-title">Account - Login</div>
<div class="content">
    <div class="username">
        <app-input-text class="test" label="User Name / Email"/>
    </div>
    <div class="password">
        <app-input-text label="Password" inputType="password"/>
    </div>
    <button class="loginButton" (click)="login()">Login</button>
    <div>
        <button class="linkButton" (click)="navCreateAccount()">Create Account</button>
        <button class="linkButton" (click)="navPassReset()">Forgot Password</button>
    </div>
</div>