.content-title {
    font-size: 30px;
    font-weight: 500;
    color: black;
    margin: 10px 0 0 0;
}

table {
    margin-top: 10px;
    outline: darkgoldenrod 5px solid;
    border-spacing: 0;
    border-radius: 4px;
}

td {
    width: 50px;
    height: 50px;

    &.black {
        background-color: black;
    }

    &.white {
        background-color: white;
    }
}