<div class="selectContainer">
    <mat-label class="select-label">{{label}}</mat-label>
    <select class="select-filter" [(ngModel)]="selection.value" name="sel" id="sel" #sel (ngModelChange)="updateText(sel.options, sel.value)">
        <option *ngFor="let opt of options" [ngValue]="opt.value">{{opt.text}}</option>
    </select>
        <mat-label *ngIf="selection.value == null" class="placeholder-text">{{placeholderText}}</mat-label>
        <mat-label *ngIf="selection.value != null" class="selection-text">{{selectionText}}</mat-label>
        <button *ngIf="selection" class="clear-button" (click)="selection.value=null">
            <mat-icon>close</mat-icon>
        </button>
</div>