@import '../../../styles.scss';

.content-title {
    font-size: 30px;
    font-weight: 500;
    color: black;
    margin: 10px 0 0 0;
}

.filters {
    width: 100%;
    display: flex;
    flex-direction: row;
    
    .sorter, .filter, .defaultSorter {
        margin-right: 10px;
    }
}