<div class="content-title">Pokedex</div>
<div class="filters">
    <app-select-filter class="defaultSorter" label="Sort by" [options]="defaultSortOptions" [initialValue]="defaultInitialSort"/>
    <app-search-bar class="filter" placeholderText="Search Pokedex"/>    
    <app-select-filter class="sorter" label="Types Filter" placeholderText="Types" [options]="typeOptions"/>
    <app-select-filter label="Stat Filter" placeholderText="Stats" [options]="statSortOptions"/>
</div>
<div style="width: 500px; height: 500px; background-color: black; color: white;">
    <p>Pokedex</p>
</div>