<div class="content-title">Pokedex</div>
<div class="filters">
    <app-select-filter class="defaultSorter" label="Sort by" [options]="defaultSortOptions" [initialValue]="defaultInitialSort"/>
    <app-search-bar class="filter" placeholderText="Search Pokedex"/>    
    <app-select-filter class="sorter" label="Types Filter" placeholderText="Types" [options]="typeOptions"/>
    <app-select-filter label="Sort by Stat" placeholderText="Stats" [options]="statSortOptions"/>
</div>
<div>
    <table>
        <tr class="headerRow">
            <th>Pokedex Number</th>
            <th>Pokemon</th>
            <th>Type1</th>
            <th>Type2</th>
            <th class="abilityHeader">Abilities</th>
            <th class="statHeader">HP</th>
            <th class="statHeader">Attack</th>
            <th class="statHeader">Defense</th>
            <th class="statHeader">Sp. Attack</th>
            <th class="statHeader">Sp. Defense</th>
            <th class="statHeader">Speed</th>
        </tr>
        <tr *ngFor="let poke of pokemon" class="contentRow">
            <td>{{poke.dexNum}}</td>
            <td>{{poke.name}}</td>
            <td>{{poke.type1}}</td>
            <td>{{poke.type2}}</td>
            <td class="abilityCol">
                <div>
                    {{poke.ability1}}
                </div>
                <div>
                    {{poke.ability2}}
                </div>
                <div>
                    {{poke.ability3}}
                </div>
            </td>
            <td>
                <div class="statCol">
                    {{poke.hp}}
                </div>
            </td>
            <td>
                <div class="statCol">
                    {{poke.attack}}
                </div>
            </td>
            <td>
                <div class="statCol">
                    {{poke.defense}}
                </div>
            </td>
            <td>
                <div class="statCol">
                    {{poke.spAttack}}
                </div>
            </td>
            <td>
                <div class="statCol">
                    {{poke.spDefense}}
                </div>
            </td>
            <td>
                <div class="statCol">
                    {{poke.speed}}
                </div>
            </td>
        </tr>
    </table>
</div>